html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {font-family:"Times New Roman";}
h1, h2, h3 {line-height:3.0em;width:80%;margin:0 auto !important;display:block;}
h1 {color:#000;font-size:26pt;text-align:center;font-weight:bold;text-transform:uppercase;margin:1.5em 0;border-top:20px #031196 solid}
h2 {color:#000;font-size:18pt;text-align:center;font-weight:bold;text-transform:none;margin:1em 0;;border-bottom:20px #031196 solid}
p {line-height:1.2em; margin:.8em 0;}
#wrapper {margin:0 auto;width:100%; max-width:800px;}

article {border:2px #031196 solid;padding-top:280px;margin:30px;}

p {font-size:.8em;width:80%;margin:200px auto 50px auto;display:block;text-align:justify}