html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	padding:0 50px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
em {font-style:italic}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {font-family:"Times New Roman";}
h1, h2, h3 {line-height:1.2em;}
h1 {color:#031196;font-size:22pt;text-align:center;font-weight:bold;text-transform:uppercase;margin:1.5em 0;}
h2 {color:#031196;font-size:14pt;text-align:center;font-weight:bold;text-transform:uppercase;margin:1em 0;}
h3 {color:#031196;font-size:12pt;text-align:center;font-weight:bold;margin:.8em 0;}
p {line-height:1.2em; margin:.8em 0;}
#wrapper {margin:0 auto;width:100%; max-width:800px;}


article {
counter-reset : h2;
	}

h2 {
counter-reset : h3;
	}

h3 {
counter-reset : h4;
	}

h4 {
counter-reset : h5;
	}

h5 {
counter-reset : h6;
	}

article h2:before {
content : counter(h2,decimal) ". ";
counter-increment : h2;
	}

article h3:before {
content : counter(h2,decimal) "." counter(h3,decimal) ". ";
counter-increment : h3;
	}

article h4:before {
content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) ". ";
counter-increment : h4;
	}

article h5:before {
content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) ". ";
counter-increment : h5;
	}

article h6:before {
content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) "." counter(h6,decimal) ". ";
counter-increment : h6;
	}

h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before {
content : "";
counter-increment : none;
	}
