/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Oct, 2015, 4:46:20 PM
    Author     : Suman Khatri
*/
.hiddenElement {
    display: none;
}
.clickAble {
    cursor: pointer;
}
.textAlignRight {
    text-align: right;
}
.floatRight {
    float: right;
}
.dotOperator{
    font-size: 17px;
    font-weight: bold;
    height: 15px;
}
.floatLeft {
    float: left;
}
.classPadding10 {
    padding: 10px 10px 10px 0px;
}
.marginLeft1Per{
    margin-left: -1%;
    margin-bottom: 1%;
}
.fieldsetDocPartWorkFlow {
    border: 1px solid #bdc3d1;
    padding: 2%;
    width: 98%;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #e9f8ff!important;
}
#versionsBlock .form-group{
    width: 75% ! important;
    padding: 0;
    margin: 0;
}

#versionsBlock .col-sm-1{
    padding-right: 0px!important;
}
#versionsBlock .form-control {
    width: 100%;
    padding: 8px 7px;
    height: auto;
    line-height: 14px;
}
#versionsHeading{
    margin-right: 1.6%!important;
}
#staticpdfdiv .has-error {
    border-color: #d9534f!important;
}
.form-horizontal .doc-part-table{
    margin-left: 2%;
}
.labelNotification{
    float: left;padding-left: 2%;
    padding-top: 0.8%;
}
#price {
    width:12%;
}