<html>
<head>
<link rel='stylesheet' href='/home/dev2bigideas/public_html/evolaw/webroot/document_templates/css/workflow_template_id_1.css' type='text/css'>
</head>
<body>
{if 1}<h1>Vehicle Use Policy</h1>

{/if}
{if $gfullnameco != ''}<p>My company name is {$gfullnameco}</p>

{/if}
{if $gfullnameco == ''}<p>This paragraph is displayed when gfullnameco is blank</p>

{/if}
{if $gfullnameco != ''}<p>This paragraph is displayed when gfullnameco is not blank</p>

{/if}
</body>
</html>