<html>
<head>
<link rel='stylesheet' href='/home/dev2bigideas/public_html/evolaw/webroot/document_templates/css/workflow_template_id_1.css' type='text/css'>
</head>
<body>
{if 1}<p>Forbearance Agreement</p>

{/if}
{if $facaotherdebtors == "N"}<p>This Forbearance Agreement ("Agreement") is made as of {$facadate|fulltextdate} by and between {$facacreditorname} ("{$varcreditor}") and {$facadebtorname} ("{$vardebtor}").  {$varcreditor} and {$vardebtor} may collectively be referred to in this Agreement as the "Parties," and individually as a "Party."</p>

{/if}
{if $facaotherdebtors == "Y"}<p>This Forbearance Agreement ("Agreement") is made as of {$facadate|fulltextdate} by and between {$facacreditorname} ("{$varcreditor}") on the one hand, and {$vardebtornames} (collectively, "{$vardebtor}") on the other hand.   {$varcreditor} and {$vardebtor} may collectively be referred to in this Agreement as the "Parties," and individually as a "Party."</p>

{/if}
</body>
</html>