<html>
<head>
<link rel='stylesheet' href='/home/dev2bigideas/public_html/evolaw/webroot/document_templates/css/workflow_template_id_4.css' type='text/css'>
</head>
<body>
{if 1}<h1>FORBEARANCE AGREEMENT 5</h1>

{/if}
{if 1}<h2>{$facacreditorname} 5</h2>

{/if}
</body>
</html>