<html>
<head>
<link rel='stylesheet' href='/home/dev2bigideas/public_html/evolaw/webroot/document_templates/css/workflow_template_id_4.css' type='text/css'>
</head>
<body>
{if 1}<p>My Title</p>

{/if}
{if 1}<p>{$facaotherdebtors}</p>

{/if}
</body>
</html>