<html>
<head>
<link rel='stylesheet' href='C:\wamp\www\BookMarker\webroot\document_templates\css\1.css' type='text/css'>
</head>
<body>
{if $gfullnameco != ''}<h2>{$gfullnameco}</h2>

{/if}
</body>
</html>