<html>
<head>
<link rel='stylesheet' href='C:\wamp\www\BookMarker\webroot\document_templates\css\1.css' type='text/css'>
</head>
<body>
{if $gfullnameco != ''}<p>This is my comanyname {$gfullnameco}</p>

{/if}
</body>
</html>