<html>
<head>
<link rel='stylesheet' href='C:\wamp\www\BookMarker\webroot\document_templates\css\1.css' type='text/css'>
</head>
<body>
{if 1}<p>This is a Paragraph{$gfullnameco}</p>

{/if}
</body>
</html>