<html>
<head>
<link rel='stylesheet' href='C:\wamp\www\BookMarker\webroot\document_templates\css\workflow_template_id_1.css' type='text/css'>
</head>
<body>
{if 1}<h1>{$gfullnameco}</h1>

{/if}
{if 1}<p>this is my company name ... .. .. .....
{$gfullnameco} cool</p>

{/if}
</body>
</html>