</div>
</div>
</section>
<?= $this->Html->script('admin/jquery.js') ?>
<?= $this->Html->script('admin/jquery-ui.js') ?>
<?= $this->Html->script('admin/bootstrap.js') ?>
<?= $this->Html->script('admin/toggles.js') ?>
<?= $this->Html->script('admin/morris.js') ?>
<?= $this->Html->script('admin/raphael.js') ?>
<?= $this->Html->script('admin/jquery.flot.js') ?>
<?= $this->Html->script('admin/jquery.flot.resize.js') ?>
<?= $this->Html->script('admin/jquery.flot.spline.js') ?>
<?= $this->Html->script('admin/jquery.knob.js') ?>
<?= $this->Html->script('admin/quirk.js') ?>
<?= $this->Html->script('admin/dashboard.js') ?>
</body>
</html>